body {
	font-family: Arial;
}

.filter-group-title {
	display: inline-block;
	font-size: 1rem;
	margin: 0 10px 0 0;
	font-weight: bold;
}

.filter-group {
	display: inline-block;
}

.filter-group a {
	margin-right: 10px; 
	color: #666;
	text-decoration: none;
}
 
.filter-group a.current { 
	font-weight: bold;
}

.sort-group-title {
	display: inline-block;
	font-size: 1rem;
	margin: 0 10px 0 0;
	font-weight: bold;
}

.sort-group-booklet,
.sort-group-page {
	display: inline-block;
}

.sort-group-booklet a,
.sort-group-page a {
	margin-right: 10px;
	color: #666;
	text-decoration: none;
}

.sort-group-booklet a.current,
.sort-group-page a.current {
	font-weight: bold;
}

/* ---- .grid-item ---- */

.grid-outer {
	overflow-x:scroll;
}

.grid-page-nums {
	padding-left: 5px;
}

.grid {
	padding: 5px;
}

.grid-item-page-nums,
.grid-item-booklet-nums {
	margin: 5px;
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	background: #888;
	color: #262524;
}

.grid-item-page-nums .page-nums,
.grid-item-booklet-nums .booklet-nums {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 40px;
	font-weight: bold;
	color: white;
}

.grid-item-select {
	margin: 5px;
}

.grid-item {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 0px;
	background: #c1c1c1;
	color: #262524;
}

.grid-item.finished {
	background: #99ff99;
}

.grid-item.unfinished {
	background: #ff9999;
}

.grid-item:hover {
	background-color: #8CF;
}

.grid-item > * {
	margin: 0;
	padding: 0;
}

.grid-item .booklet {
	position: absolute;
	left: 10px;
	top: 60px;
	text-transform: none;
	letter-spacing: 0;
	font-size: 12px;
	font-weight: normal;
}

.grid-item .mark {
	text-align: center;
	line-height: 90px;
	font-size: 40px;
	font-weight: bold;
	color: white;
}

.grid-item .page {
	position: absolute;
	top: 70%;
	left: 10%;
	font-size: 22px;
	font-weight: bold;
	color: white;
}
 
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope,
.isotope .isotope-item {
	/* change duration value to whatever you like */

	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
