div.canvas_container {
	/* NOTE: resize not supported in IE and edge! */
	resize: both;
	background-color: #F5F5F5;
	overflow: scroll;
	min-height:300px;
	min-width:200px;
	/* vh and vw are 1% of height and width of viewport respectively. http://www.w3schools.com/cssref/css_units.asp */
	width:60vw;
	height:80vh;
}

div.controlpage {
	background-color: #C9C9F0;
	padding: 5px;
	overflow: auto;
	min-height:200px;
	min-width:150px;
}

img.img_tmp {
	display: none;
}

canvas {
	border: 1px solid black;
}

table.marking_table {
	overflow:auto;
	border: 1px solid gray;
    border-collapse: collapse;
}

td, tr {
	border: 1px solid gray;
    border-collapse: collapse;
}
