div.canvas_container {
	/* NOTE: resize not supported in IE and edge! */
	resize: both;
	background-color: #F5F5F5;
	overflow: scroll;
	min-height:300px;
	min-width:200px;
	/* vh and vw are 1% of height and width of viewport respectively. http://www.w3schools.com/cssref/css_units.asp */
	width:60vw;
	height:80vh;
}
button.btn_sav {
    width:150px;
    height:50px;
	cursor: pointer;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	color: black;
	line-height: 36px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;

}
button.btn_updwn {
    width:75px;
    height:50px;
	cursor: pointer;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	color: black;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;

}
button.btn_left {
    width:75px;
    height:50px;
	cursor: pointer;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	color: black;
	text-align: center;

	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}
button.btn_right {
    width:75px;
    height:50px;
	cursor: pointer;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	color: black;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;

}


div.controlpage {
	background-color: #f2f5f3;
	padding: 5px;
	overflow: auto;
	min-height:200px;
	min-width:150px;
}

img.img_tmp {
	display: none;
}

canvas {
	border: 1px solid black;
}

table.marking_table {
	overflow:auto;
	border: 1px solid gray;
    border-collapse: collapse;
}

td, tr {
	vertical-align: top;
	border: 1px solid gray;
    border-collapse: collapse;
}
