div.img {
	/* NOTE: resize not supported in IE and edge! */
	resize: both;
	background-color: #F5F5F5;
	overflow: scroll;
	min-height:300px;
	min-width:200px;
	/* vh and vw are 1% of height and width of viewport respectively. http://www.w3schools.com/cssref/css_units.asp */
	width:60vw;
	height:80vh;
}

table.search {
	overflow:auto;
	border: 1px solid gray;
    border-collapse: collapse;
}

td, tr {
	vertical-align: top;
	border: 1px solid gray;
    border-collapse: collapse;
}
